<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><a href="/kendo-scroll/1000000">KendoUI Grid with virtual scroll (1 mln records)</a><p>
</body>
</html>
